<div class="container">
  <h1>Edit site content</h1>
  <div class="form-group">
    <label>Navigation bar header</label>
    <input type="text" id="nav" placeholder="Navigation bar header">
  </div>
  <div class="form-group">
    <label>Splash big text</label>
    <input type="text" id="splashBig" placeholder="Splash image main text">
  </div>
  <div class="form-group">
    <label>Splash small text</label>
    <input type="text" id="splashSubheader" placeholder="Splash image subheader">
  </div>
  <form>
    <div class="form-group">
      <label>About text</label>
      <textarea id="about" rows="3"></textarea>
    </div>
  </form>
  <form>
    <div class="form-group">
      <label>Free Assessment and Online Consultation text</label>
      <textarea id="assessment" rows="3"></textarea>
    </div>
  </form>
  <form>
    <div class="form-group">
      <label>Other services text</label>
      <textarea id="others" rows="3"></textarea>
    </div>
  </form>
  <form>
    <div class="form-group">
      <label>Pricing beginner description</label>
      <textarea id="beginnerDesc" rows="3"></textarea>
    </div>
  </form>
  <form>
    <div class="form-group">
      <label>Pricing intermediate description</label>
      <textarea id="intermediateDesc" rows="3"></textarea>
    </div>
  </form>
  <form>
    <div class="form-group">
      <label>Pricing advanced description</label>
      <textarea id="advDesc" rows="3"></textarea>
    </div>
  </form>
  <form>
    <div class="form-group">
      <label>Why learn Chinese With Me text</label>
      <textarea id="whyDesc" rows="3"></textarea>
    </div>
  </form>
</div>
