<div class="container text-center payment-container">
  <h1>Make A Payment</h1>
  {{#if success}}
  <div class="alert alert-success" role="alert" style="max-width: 18rem;">
    {{success}}
  </div>
  {{/if}}
  <div class="card">
    <div class="card-body">
      <form id="paymentForm" method="POST">
        <div class="radio-container">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="priceSelection" value="beginner" checked>
            <label class="form-check-label">
            Beginner Lesson - $40/hr
          </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="priceSelection" value="intermediate">
            <label class="form-check-label">
            Intermediate Lesson - $50/hr
          </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="priceSelection" value="advanced">
            <label class="form-check-label">
            Advanced Lesson - $60/hr
          </label>
          </div>
        </div>
        <input type="hidden" id="stripeToken" name="stripeToken" />
        <input type="hidden" id="stripeEmail" name="stripeEmail" />
        <input type="button" class="btn btn-primary" id="customButton" value="Purchase lesson">
      </form>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://checkout.stripe.com/checkout.js"></script>
<script src="/js/checkout.js"></script>
