<div class="jumbotron jumbotron-fluid splash-img">
  <div class="container">
    <h1 class="display-4">Learn professional and medical Chinese</h1>
    <p class="lead">One-on-one lessons with a native tutor</p>
  </div>
</div>

<div class="jumbotron jumbotron-fluid" id="about">
  <div class="container">
    <h1 class="display-4">About</h1>
    <p>
      Jennifer was graduated from Hefe Normal College with 4 years of experience teaching young professionals Chinese and history. She has a bachelor's degree in nursing and a master's degree in public health from new Mexico state university. She also earned a MBA from UMass Boston. She is a working professional herself and understands the passion and needs of professionals learning a different language. Her teaching experience would make her efficient teaching you Chinese. Her education in nursing and public health would help medical professionals and business leaders learning English that are needed for their speciality. Her knowledge in Chinese culture and history would provide you with deeper understanding of Chinese.
    </p>
  </div>
</div>

<div class="jumbotron jumbotron-fluid" id="pricing">
  <div class="container">
    <h1 class="display-4">Pricing</h1>
    <div class="card-deck">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Beginner</h5>
          <p class="card-text">Description of beginner tutoring. $25/hr.</p>
          <a href="/signup?level=beginner" class="btn btn-primary">Sign up</a>
        </div>
      </div>
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Intermediate</h5>
          <p class="card-text">Description of intermediate tutoring. $35/hr.</p>
          <a href="/signup?level=intermediate" class="btn btn-primary">Sign up</a>
        </div>
      </div>
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Advanced</h5>
          <p class="card-text">Description of advanced tutoring. $45/hr.</p>
          <a href="/signup?level=advanced" class="btn btn-primary">Sign up</a>
        </div>
      </div>
    </div>
  </div>
</div>
