<div class="jumbotron jumbotron-fluid splash-img even-section">
  <div class="container">
    <h1 class="display-4">Online Chinese lessons for professionals</h1>
    <p class="lead">1 on 1 private lessons designed for working professionals</p>
  </div>
</div>

<div class="jumbotron jumbotron-fluid odd-section page-section" id="about">
  <div class="container">
    <h1 class="display-4">About</h1>
    <p>
      Jennifer was graduated from Hefe Normal College with 4 years of experience teaching young professionals Chinese and history. She has a bachelor's degree in nursing and a master's degree in public health from new Mexico state university. She also earned a MBA from UMass Boston. She is a working professional herself and understands the passion and needs of professionals learning a different language. Her teaching experience would make her efficient teaching you Chinese. Her education in nursing and public health would help medical professionals and business leaders learning English that are needed for their speciality. Her knowledge in Chinese culture and history would provide you with deeper understanding of Chinese.
    </p>
  </div>
</div>

<div class="jumbotron jumbotron-fluid even-section page-section" id="freebies">
  <div class="container">
    <h1 class="display-4">Free Assessment and Online Consultation</h1>
    <p>
      Free online consultation about your assessment results or your learning needs. Need to schedule at least 48 hours ahead. Contact at <a href="mailto:info@site.com">info@site.com</a>
    </p>
    <p>
      <a class="typeform-share button" href="https://lydiax.typeform.com/to/jatU3A" data-mode="popup" style="display:inline-block;text-decoration:none;background-color:#267DDD;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:20px;line-height:50px;text-align:center;margin:0;height:50px;padding:0px 33px;border-radius:0.25rem;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;"
        target="_blank">Take free initial assessment</a>
    </p>
  </div>
</div>

<div class="jumbotron jumbotron-fluid odd-section page-section" id="others">
  <div class="container">
    <h1 class="display-4">Other Services</h1>
    <p>
      translate paper between Chinese and English
    </p>
  </div>
</div>

<div class="jumbotron jumbotron-fluid even-section page-section" id="pricing">
  <div class="container">
    <h1 class="display-4">Pricing</h1>
    <div class="card-deck">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Beginner</h5>
          <p class="card-text">Description of beginner tutoring. $40/hr.</p>
          <a href="mailto:info@site.com" class="btn btn-primary">Contact</a>
        </div>
      </div>
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Intermediate</h5>
          <p class="card-text">Description of intermediate tutoring. $50/hr.</p>
          <a href="mailto:info@site.com" class="btn btn-primary">Contact</a>
        </div>
      </div>
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Advanced</h5>
          <p class="card-text">Description of advanced tutoring. $60/hr.</p>
          <a href="mailto:info@site.com" class="btn btn-primary">Contact</a>
        </div>
      </div>
    </div>
  </div>
</div>
