<div class="container login-form">
  <h1>Login</h1>
  <p class="text-muted">This page is intended for the webmaster.</p>
  <form method="post">
    <div class="form-group">
      <label>Username</label>
      <input type="text" class="form-control" name="username" placeholder="Username">
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" name="password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>
