html {
  height: 100%;
}

body {
  height: 100%;
}

a {
  color: #00B7FF;
}

hr {
  margin-bottom: 0em;
}

.right {
  display: flex;
  justify-content: flex-end;
}

/* front page styling */

.even-section {
  background-color: #a9bcd0;
}

.odd-section {
  background-color: white;
}

.page-section {
  height: auto;
  min-height: 100% !important;
}

.jumbotron {
  margin: 0 !important;
  min-height: 20em;
}

.splash-img {
  height: 90%;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)), url('/images/splash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
}

.lead {
  font-size: 1.5em;
}

#about {
  overflow: auto;
}

#face {
  margin-left: 1em;
}

@media (max-width: 950px) {
  .card-deck {
    display: block;
    width: 100%;
    margin-bottom: .75rem;
  }
  .card-deck .card {
    margin-bottom: .75rem;
  }
}

/* nav header styling */

@media min-width(950px) {
  nav {
    height: 10%;
  }
}

.navbar-brand {
  margin: 0;
}

nav {
  position: absolute;
  background-color: #373f51;
}

.nav-item {
  margin: 0 .75em;
}

/* footer styling */

@media (max-width: 950px) {
  .footer .container {
    flex-direction: column;
    align-items: center !important;
  }
  .footer .container>* {
    padding-bottom: 0.25em;
  }
}

.footer {
  background-color: #373f51;
  color: white;
  height: auto;
  min-height: 11%;
  padding-top: 1em;
  padding-bottom: .5em;
  margin: 0;
  max-width: 100%;
  padding-left: .5em;
  padding-right: .5em;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.footer-links {
  display: inline-block;
}

.footer-links a {
  padding-right: 1em;
  color: white;
}

.sharethis-inline-share-buttons {
  display: inline-block !important;
}

.copyright {
  font-size: .75em;
  display: inline-block;
}

.copyright a {
  color: #6c757d;
}

/* admin page styling */

.admin-form {
  padding: 2em 0;
}

.admin-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.admin-form button {
  min-width: 15em;
}

/* login page styling */

.login-form {
  padding-top: 1em;
  height: auto;
  min-height: 78% !important;
  max-width: 20em;
}

.login-form button {
  width: 100%;
}
