html {
  height: 100%;
}

body {
  height: 100%;
}

.page-section {
  height: 100%
}

a {
  color: #00B7FF;
}

@media min-width(950px) {
  nav {
    height: 10%;
  }
}

.navbar-brand {
  margin: 0;
}

nav {
  position: absolute;
}

.nav-item {
  margin: 0 .75em;
}

.jumbotron {
  margin: 0 !important;
  min-height: 20em;
}

.splash-img {
  height: 90%;
}

#payment {
  height: 77%;
}

#about {
  background-color: white;
  height: 100%;
  overflow: auto;
}

#others {
  background-color: white;
}

@media (max-width: 950px) {
  .card-deck {
    display: block;
    width: 100%;
    margin-bottom: .75rem;
  }
  .card-deck .card {
    margin-bottom: .75rem;
  }
}

.auth-form {
  max-width: 20em;
  margin: auto;
  padding: 3em 0;
  height: 80%;
}

.footer {
  height: 10%;
  padding-top: 1em;
  display: flex;
  justify-content: space-around;
}

.footer-links a {
  padding: 0 1em;
}

.footer-links i {
  padding: 0 .5em;
}

.copyright {
  font-size: .75em;
}

hr {
  margin-bottom: 0em;
}
